.feature__section {
  @extend %section;
}
.feature__container {
  @extend %container;
}
.feature__main-title {
  &--unvisible {
    display: none;
  }
}
.feature__list {
  display: flex;
  gap: 30px;
}
.feature__el {
  width: 270px;

  &::before {
    display: block;
    margin-bottom: 30px;
    content: "";

    height: 120px;
    background-color: $feature-background-color;
    background-repeat: no-repeat;
    border-radius: 4px;
    background-position: center;
  }
  &.antenna::before {
    background-image: url(../images/icons.svg/antennaopti.svg);
  }
  &.clock::before {
    background-image: url(../images/icons.svg/clockopti.svg);
  }
  &.diagram::before {
    background-image: url(../images/icons.svg/diagramopti.svg);
  }
  &.astronaut::before {
    background-image: url(../images/icons.svg/astronautopti.svg);
  }
}
.feature__title {
  margin-bottom: 10px;
  @include special-font(700, 14px, 0.03em, 1.14, $base-color);
  text-transform: uppercase;
}
.features__subtitle {
  @extend %standart-font;
  color: $desrp-color;
  line-height: 1.71;
}
