header {
  border-bottom: $project-border;
}
.header__container {
  @extend %container;
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 93px;
  @extend %logo-font;
  color: $active-color;

  &__end-part {
    color: $black-color;
  }
}
.nav {
  @extend %flex-centered;
  @include special-font(500, 14px, 0.02em, 1.14, $base-color);
  gap: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $base-color;
  transition: color $transition-code;
  &--active {
    position: relative;
    color: $active-color;
  }
  &--active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background: $active-color;
    border-radius: 2px;
  }
  &:hover,
  :focus {
    color: $active-color;
  }
}
.header-contact {
  @extend %flex-centered;
  display: flex;
  margin-left: auto;
  gap: 50px;
}
.header-contact__link {
  @include special-font(500, 14px, 0.02em, 1.14, $desrp-color);
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  &:hover,
  :focus {
    color: $active-color;
  }
}
.header-contact__icon {
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
